*.suo
*.user
*.userosscache
*.sln.docstates
local.settings.json

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.vs/
.vscode/
/.vscode/settings.json
/.vscode/settings.json
appsettings.Development.json